body {
  background-color: #d3e3a6;
}
h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 70px;
  text-align: center;
  background-color: #9999c7;
}
#dice1 {
  height: 100px;
  width: 100px;
  background-color: #d6aeae;
  text-align: center;
  font-size: 50px;
  margin-right: auto;
  margin-left: auto;
}
#dice2 {
  height: 100px;
  width: 100px;
  background-color: #8fd5d6;
  text-align: center;
  font-size: 50px;
  margin-right: auto;
  margin-left: auto;
}

#but1 {
  width: 100px;
  height: 50px;
  color: #e0d1e0;
  background-color: #006a80;
  border-radius: 10px;
  border-width: 10px;
  border-color: #575775;
}

#text {
  font-size: 50px;
}
  

